.couch {
  position: absolute;
  left: 17%;
  bottom: 0;
  height: 300px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  /** AUTO **/
  &.couch--couch1 {
    background-image: url("/images/couch/couch1.png")
  }

  &.couch--couch2 {
    background-image: url("/images/couch/couch2.png")
  }

  &.couch--couch3 {
    background-image: url("/images/couch/couch3.png")
  }

  &.couch--couch4 {
    background-image: url("/images/couch/couch4.png")
  }

  /** AUTOEND **/
}