.wall {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  /** AUTO **/
&.wall--brick1{
 background-image: url("/images/wall/brick1.jpg")
}

&.wall--brick2{
 background-image: url("/images/wall/brick2.jpg")
}

&.wall--wallpaper1{
 background-image: url("/images/wall/wallpaper1.jpg")
}

&.wall--wallpaper2{
 background-image: url("/images/wall/wallpaper2.jpg")
}

&.wall--wallpaper3{
 background-image: url("/images/wall/wallpaper3.jpg")
}

/** AUTOEND **/

}