/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_room.scss */
.room {
  width: 1000px;
  height: 600px;
  position: relative;
  margin: 20px auto;
  background: white;
}

/* line 1, ../sass/components/_wall.scss */
.wall {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  /** AUTO **/
  /** AUTOEND **/
}
/* line 10, ../sass/components/_wall.scss */
.wall:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* line 16, ../sass/components/_wall.scss */
.wall.wall--brick1 {
  background-image: url("/images/wall/brick1.jpg");
}
/* line 20, ../sass/components/_wall.scss */
.wall.wall--brick2 {
  background-image: url("/images/wall/brick2.jpg");
}
/* line 24, ../sass/components/_wall.scss */
.wall.wall--wallpaper1 {
  background-image: url("/images/wall/wallpaper1.jpg");
}
/* line 28, ../sass/components/_wall.scss */
.wall.wall--wallpaper2 {
  background-image: url("/images/wall/wallpaper2.jpg");
}
/* line 32, ../sass/components/_wall.scss */
.wall.wall--wallpaper3 {
  background-image: url("/images/wall/wallpaper3.jpg");
}

/* line 1, ../sass/components/_couch.scss */
.couch {
  position: absolute;
  left: 17%;
  bottom: 0;
  height: 300px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  /** AUTO **/
  /** AUTOEND **/
}
/* line 10, ../sass/components/_couch.scss */
.couch:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* line 16, ../sass/components/_couch.scss */
.couch.couch--couch1 {
  background-image: url("/images/couch/couch1.png");
}
/* line 20, ../sass/components/_couch.scss */
.couch.couch--couch2 {
  background-image: url("/images/couch/couch2.png");
}
/* line 24, ../sass/components/_couch.scss */
.couch.couch--couch3 {
  background-image: url("/images/couch/couch3.png");
}
/* line 28, ../sass/components/_couch.scss */
.couch.couch--couch4 {
  background-image: url("/images/couch/couch4.png");
}

/* line 1, ../sass/components/_floor.scss */
.floor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  /** AUTO **/
  /** AUTOEND **/
}
/* line 10, ../sass/components/_floor.scss */
.floor:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* line 16, ../sass/components/_floor.scss */
.floor.floor--wooden1 {
  background-image: url("/images/floor/wooden1.jpg");
}

/* line 1, ../sass/components/_modal.scss */
.modal {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: white;
  z-index: 9999;
  display: none;
  box-shadow: 0 0 10px #000;
  overflow: auto;
}
/* line 13, ../sass/components/_modal.scss */
.modal.modal--show {
  display: block;
}
/* line 17, ../sass/components/_modal.scss */
.modal .modal--choices {
  margin: 10px;
}
/* line 20, ../sass/components/_modal.scss */
.modal .modal--choices li {
  display: inline-block;
  width: 50%;
}
/* line 24, ../sass/components/_modal.scss */
.modal .modal--choices li a {
  display: block;
}
/* line 28, ../sass/components/_modal.scss */
.modal .modal--choices li img {
  max-width: 100%;
}
/* line 31, ../sass/components/_modal.scss */
.modal .modal--choices li img:hover {
  opacity: 0.9;
}

/* line 12, ../sass/screen.scss */
body {
  background: black;
}
